body {
    background-color: white;
}

div.top-section {
    height: 100%;
    background-image:url(img/jcmwindows.png);
    background-size:cover;
    background-blend-mode:overlay;
    background-color: #7F7066;
    filter: saturate(120%);
    filter:brightness(100%);
    filter:contrast(120%);
}

div.footer {
    position:fixed;
}

nav.navbar {
    position: fixed;
    width: 100%;
}

a.navbar-brand {
    width:11%;
}

h1 {
    font-size: 700%;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    padding-top:20%;
    padding-bottom:23%;
}

#logo {
    width:100%;
}

img.home-image {
    width: 70%;
    height:130%;
    object-fit: cover;
}