/*top section backgrounds*/
.top-section-home{
    background-image:url(img/jcmwindows.png);
}

.top-section-contact {
    background-image:url(img/jcmbus.png);
}

.top-section-other{
    background-image:url(img/mahsstairs.png);
}

.top-section-newprojects{
    background-image:url(img/theliftcafe.jpg);
}

.top-section-ourteam{
    background-image:url(img/mahslab.png);
}

.top-section-oldprojects{
    background-image:url(img/fedcourt1.png);
}

.top-section-testimonials{
    background-image:url(img/jcmlibrary.png);
}

.top-section-contact, .top-section-other, .top-section-newprojects, .top-section-ourteam, .top-section-oldprojects, .top-section-testimonials{
    height: 80vh;
}

.top-section-home {
    height: 100vh;
}

/*color*/
.white {
    background-color: white;
}


.white-text{
    color:white;
}

a.black-link{
    color:inherit;
}

a.black-link:hover{
    color: #5c5c5c;
    cursor:pointer;
}

a.white-link{
    color:inherit;
    text-decoration-color: #bebebe8e;
}

a.white-link:hover{
    color: #bebebe;
    cursor:pointer;
}

.logo:hover {
    filter:opacity(70%);
}

/*alignment and background formatting*/
.img-space-sm, .img-space-lg, .top-section-home, .top-section-contact, .top-section-newprojects, .top-section-ourteam, .top-section-oldprojects, .top-section-testimonials {
    background-attachment: fixed;
    background-position: center;
}

.center {
    text-align: center;
}

.items-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cover {
    background-size:cover;
}

/*spacing and alignment*/
div.flush {
    padding-left: 0%;
    padding-right: 0%;
}

.white-space {
    background-color:white;
}

.medium-space, .img-space-lg {
    height: 80vh;
}

.img-space-sm, .small-space{
    height: 60vh;
}

.spacer-row {
    height: 30vh;
}

.spacer-row-sm {
    height: 15vh;
}

.testimonial-space {
    height: auto;
    padding-top:5rem;
    padding-bottom:5rem;
}

.contact-space {
    height:auto;
}

/*testimonial formatting*/
.testimonial {
    aspect-ratio: 3/2;
    width: 100%;
}

/*text*/
h1.title {
    font-style:bold;
}

.text-shadow {
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4{
    font-family: 'Heebo', sans-serif;
}

h1{
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 1.2rem;
}

.subtle-text {
    color: rgb(126, 126, 126)
}

.align-bottom-container {
    display: flex;
    flex-direction: row;
}

.align-bottom-item{
    justify-content: center;
}

.statement-text {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

/*buttons*/
.top-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#contact-button {
    margin-right: 1.5rem;
}

.find-out-button {
    margin-top: 1rem;
}

.right {
    text-align: end;
}

/*images*/
.home-image-1 {
    background-image: url(img/jcmfhenterance.png);
}

.home-image-2 {
    background-image: url(img/mahschemlabcropped.png);
}

.home-image-3 {
    background-image: url(img/jcmgym.png);
}

/*cards*/
.card-size {
    width: 100%;
    height: auto;
}

.card-img {
    width: 100%;
    aspect-ratio: 3/2;
    margin-bottom: .5rem;
}

.card-img-square {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: .5rem;
    border-radius: 1%;

}

.read-more {
    text-decoration: none;
    display:flex;
    flex-direction: column;
}

/*navbar*/
a.navbar-brand {
    width: 12rem;
}

.logo {
    width:12rem;
}

#logo-footer {
    width:12rem;
}

/*carousel*/

.carousel-inner {
    height:auto;
}

/*iframe*/

.iframe-shape {
    border-radius: 5%;
    overflow: hidden;
    margin: 1rem;
}

iframe {
    height: 100%;
}

iframe, .iframe-shape {
    aspect-ratio: 4/2;
}

/*team info section boxes*/

.info-box {
    background-color:blanchedalmond;
    height: auto;

}


@media (min-width: 992px) {
    .card-row {
        margin-bottom: 1rem;
    }
    .card {
        margin-bottom: 1rem;
    }
    .testimonial-text{
        padding-top: 3rem;
    }
}

@media(max-width: 992px)  and (min-width: 600px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2rem;
    }
    h5{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1rem;
    }
    .testimonial-text{
        padding-top: 2rem;
    }
    .testimonial-space{
        height:auto;
        padding-top: 2rem;
    }
    .card{
        margin-top: .75rem;
        margin-bottom: .75rem;
    }
    iframe, .iframe-shape {
        aspect-ratio: 3/2;
    }
    .job-info-box{
        margin-bottom: 1rem;
    }

} 

@media(max-width: 600px) {
    h1{
        font-size: 3.5rem;
    }
    h1.home-text{
        font-size: 3.2rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h3.home-text{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
    }
    h5{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1rem;
    }
    .testimonial-text{
        padding-top: 2rem;
    }
    .testimonial-space{
        height:auto;
        padding-top: 2rem;
    }
    .card {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .left-info {
        padding-left: 2rem;
    }
    .right-info {
        padding-right: 2rem;
    }
    iframe, .iframe-shape {
        aspect-ratio: 3/2;
    }
    .job-info-box{
        margin-bottom: 1rem;
    }
    .certification-info-box{
        margin-top: 1.5rem;
    }
} 