body.other-page {
    background-image:url(img/jcmwindows.png);
    background-size:cover;
    backdrop-filter:brightness(90%);
    background-attachment: fixed;
}

body.contact-page {
    background-image:url(img/jcmbus.png);
    background-size:cover;
    backdrop-filter:brightness(90%);
    background-attachment: fixed;
}

/*navbar*/
a.navbar-brand {
    width: 12rem;
}

#logo {
    width:115%;
}

div.flush {
    padding-left: 0%;
    padding-right: 0%;
}

div.middle-section, div.middle-section-info, div.footer {
    background-color: white;
}

div.top-display {
    margin-top:23%;
    margin-bottom:17%;
    text-align:end;
}

/*headings*/
h1, h2, h3 {
    font-family: 'Heebo', sans-serif;
}

.top {
    color: white;
}

h1{
    font-size: 5rem;
    font-style: bold;
}

h2 {
    font-size: 3rem;
}

/*buttons*/

.top-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#contact-button {
    margin-right: 1.5rem;
}

#find-out-button {
    margin-top:1rem;
}

/*images*/
.home-image {
    width: 25rem;
    height:18rem;
    object-fit: cover;

}